/* Infos générales */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans%27');

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Sarabun', sans-serif !important;
}

body {
    background-color: #EEEEEE;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

/* Partie introduction page d'accueil */

#id-author {
    object-position: 50% 50%;
    object-fit: cover;
    height: 20em;
    width: 20em;
    border-radius: 50rem;
}

i {
    transition: 0.5s;
    color: black;
}

i:hover {
    color: #0984e3;
}

#image-author img {
    transition: 0.5s;
}

#image-author img:hover {
    transform: scale(1.05);
    box-shadow: 3px 5px 30px 0px black !important;
}

/* Modal connexion */
#connexionsmodal {
    color: black;
}

#editmodal {
    color: black;
}

/* Partie chapitres 1 */
.card {
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 3px 5px 20px 0px black !important;
}

/* Partie citation */

#IMGSep1{
    background-image: url(../images/book.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position:relative;
  }

#IMGSep1 .container {
    z-index: 20;
    position: relative;
}

#IMGSep1:after {
    content: '';
    z-index: 10;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}

/* Partie blog */
.blog {
    background-color: #f1f2f6;
}


/* Partie carousel */
.alert {
    background-color: #f1f2f6;
    color: black;
}

/* Partie chapitres */

.chapters .card .card-body {
    color: #2f3640;
   
}

.chapters .card {
    transition: 0.2s;
}

.chapters .card:hover {
    transform: scale(0.95);
    box-shadow: none !important;
}

.chapters a {
    color: #2f3640;
}

.chapters a:hover {
    text-decoration: none;
}

/* Partie slides */

.slide-title {
    border-radius: 20px;
}

/* Partie Footer */

footer a {
    color: white;
}

footer a:hover {
    color: grey;
}

/* Partie pagination */
